<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdey.impl.mapper.FollowuplogmessageMapper">
  <resultMap id="BaseResultMap" type="com.sdey.api.po.Followuplogmessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="managerid" jdbcType="INTEGER" property="managerid" />
    <result column="handlerip" jdbcType="VARCHAR" property="handlerip" />
    <result column="messageid" jdbcType="INTEGER" property="messageid" />
    <result column="messagecontent" jdbcType="VARCHAR" property="messagecontent" />
    <result column="pationtid" jdbcType="INTEGER" property="pationtid" />
    <result column="pationtphone" jdbcType="VARCHAR" property="pationtphone" />
    <result column="sendrsid" jdbcType="VARCHAR" property="sendrsid" />
    <result column="sendrscode" jdbcType="INTEGER" property="sendrscode" />
    <result column="sendrsmessage" jdbcType="VARCHAR" property="sendrsmessage" />
    <result column="craetetime" jdbcType="TIMESTAMP" property="craetetime" />
    <result column="managername" jdbcType="VARCHAR" property="managername" />
  </resultMap>
    <select id="suifangEnterMessage" resultType="com.sdey.api.po.Followuplogmessage">
        select * from followuplogmessage where pationtid=#{pationtid}
    </select>
</mapper>