<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdey.impl.mapper.ManagerworkMapper">
  <resultMap id="BaseResultMap" type="com.sdey.api.po.Managerwork">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="managerid" jdbcType="INTEGER" property="managerid" />
    <result column="patientsid" jdbcType="INTEGER" property="patientsid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="fenpeiDateStr" jdbcType="VARCHAR" property="fenpeidatestr" />
    <result column="workstate" jdbcType="INTEGER" property="workstate" />
    <result column="overtime" jdbcType="TIMESTAMP" property="overtime" />
  </resultMap>
  <update id="finishiwork" parameterType="com.sdey.api.po.Managerwork">
       update managerwork set workstate=#{workstate},overtime=#{overtime} where uid=#{uid}
  </update>
  <select id="getManagerWork" resultType="com.sdey.api.vo.ext.ManagerWork">
              SELECT * FROM sdeyfollowup.manager a,(SELECT managerid,count(1) as workcount FROM
              sdeyfollowup.managerwork group by managerid) b where a.uid=b.managerid
  </select>
  <select id="selectNotfinishiwork" resultType="com.sdey.api.po.Managerwork">
       select uid from managerwork where uid=#{uid} and workstate is null
  </select>
</mapper>