<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.impl.mapper.AcceptkkdataMapper">
    <resultMap id="BaseResultMap" type="com.kangkang.api.po.Acceptkkdata">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="systolicpressure" jdbcType="INTEGER" property="systolicpressure"/>
        <result column="diastolicpressure" jdbcType="INTEGER" property="diastolicpressure"/>
        <result column="pulse" jdbcType="INTEGER" property="pulse"/>
        <result column="kktime" jdbcType="TIMESTAMP" property="kktime"/>
        <result column="kklevel" jdbcType="VARCHAR" property="kklevel"/>
        <result column="imei" jdbcType="VARCHAR" property="imei"/>
        <result column="kkmode" jdbcType="VARCHAR" property="kkmode"/>
        <result column="kksn" jdbcType="VARCHAR" property="kksn"/>
        <result column="kkkey" jdbcType="VARCHAR" property="kkkey"/>
        <result column="kkunique" jdbcType="VARCHAR" property="kkunique"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
    </resultMap>
    <select id="selectAllForHypertensionList" resultMap="BaseResultMap">
    select * from acceptkkdata order by uid desc
  </select>

    <select id="getAsingleRecord" resultType="com.kangkang.api.vo.MyAsingleRecordRs">
  SELECT usertb.uid as uid,usertb.name as name,kkdata.kktime as testtime,kkdata.systolicpressure as highPressureValue,usertb.headimageurl,kkdata.diastolicpressure as lowVoltageValue
      FROM hypertensionmanager.acceptkkdata kkdata left join hypertensionmanager.t_users usertb on kkdata.userid=usertb.uid
        where kkdata.userid=#{uid}
  </select>
    <select id="getAcceptkkDataByDeviceSNAndPatientID" resultMap="BaseResultMap" parameterType="com.kangkang.api.po.HytbDeviceLandlog">
        select * from acceptkkdata where userid=#{patientid} and kksn=#{devicesn} order by kktime desc
    </select>

    <select id="getgetLastDateByPatientID" resultType="Date" parameterType="com.kangkang.api.vo.AppstatisticsParam">
        select kktime from acceptkkdata where userid=#{patientid} order by kktime desc
    </select>
    <select id="getMeasureDateByBetDate" resultMap="BaseResultMap" parameterType="com.kangkang.api.vo.AppstatisticsParam">
         select * from acceptkkdata where userid=#{patientid} and kktime BETWEEN #{start} AND #{end} order by kktime asc
    </select>
</mapper>