<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.impl.mapper.HytbDeviceRepertoryMapper">
  <resultMap id="BaseResultMap" type="com.kangkang.api.po.HytbDeviceRepertory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
    <select id="selectAllForDeviceList" resultMap="BaseResultMap">
         select * from hytb_device_repertory order by uid desc
    </select>
    <select id="selectUidBySN" resultType="int">
         select uid from hytb_device_repertory where sn=#{sn}
         <if test="uid!=null">and uid!=#{uid}</if>
    </select>
</mapper>