<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.impl.mapper.HytbZixunFeedbackMapper">
    <resultMap id="BaseResultMap" type="com.kangkang.api.po.HytbZixunFeedback">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="userregistphone" jdbcType="VARCHAR" property="userregistphone"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="lxfs" jdbcType="VARCHAR" property="lxfs"/>
        <result column="contentimgs" jdbcType="VARCHAR" property="contentimgs"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="pici" jdbcType="VARCHAR" property="pici"/>
    </resultMap>
    <select id="feedback_list" resultType="com.kangkang.api.vo.HytbZixunFeedbackExt"
            parameterType="com.kangkang.api.vo.zixun.ZixunSearchParam">
        select * from hytb_zixun_feedback
        <where>
            <if test="userregistphone!=null and userregistphone.length()>0">
                userregistphone like CONCAT(#{userregistphone}, '%')
            </if>
            <if test="start!=null and end!=null">
                and createtime between #{start} and str_to_date(date_format(#{end}, '%Y%m%d 23:59:59'),'%Y%m%d
                %H:%i:%s')
            </if>
        </where>
        order by uid desc
    </select>
    <select id="selectByPrimaryKeyForExt" resultType="com.kangkang.api.vo.HytbZixunFeedbackExt">
      select * from hytb_zixun_feedback where uid=#{uid}
  </select>
</mapper>