<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.impl.mapper.SysLunboimgsMapper">
  <resultMap id="BaseResultMap" type="com.kangkang.api.po.SysLunboimgs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="homeimage" jdbcType="VARCHAR" property="homeimage" />
    <result column="homeimageurl" jdbcType="VARCHAR" property="homeimageurl" />
    <result column="managerid" jdbcType="INTEGER" property="managerid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="linkstate" jdbcType="INTEGER" property="linkstate" />
    <result column="imgnum" jdbcType="INTEGER" property="imgnum" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <select id="getUploadedImgs" resultType="com.kangkang.api.vo.fileinput.InitialPreviewImgVo">
       select uid,homeimage as src,homeimageurl as imglink from sys_lunboimgs order by uid;
  </select>
  <select id="selectAllImges" resultType="com.kangkang.api.vo.GetHomePhotoAddressRs">
      select homeimage,homeimageurl from sys_lunboimgs order by uid
  </select>
  <select id="selectOneByImgnum" resultMap="BaseResultMap">
    select uid from sys_lunboimgs where imgnum=#{setNum}
  </select>
  <select id="getlunboInfoBySetNum" resultMap="BaseResultMap">
    select * from sys_lunboimgs where imgnum=#{setNum}
  </select>

</mapper>