<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.impl.mapper.TUsersMapper">
    <resultMap id="BaseResultMap" type="com.kangkang.api.po.TUsers">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="imei" jdbcType="VARCHAR" property="imei"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="rongid" jdbcType="VARCHAR" property="rongid"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="registphone" jdbcType="VARCHAR" property="registphone"/>
        <result column="rytoken" jdbcType="VARCHAR" property="rytoken"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="headimageurl" jdbcType="VARCHAR" property="headimageurl"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
    </resultMap>
    <select id="selectUidByAcceptkkdata" parameterType="com.kangkang.api.po.Acceptkkdata" resultType="int">
       select uid from t_users where sn=#{kksn}
  </select>
    <select id="getUserByPhoneNumber" resultType="int">
       select uid from t_users where registphone=#{mobile}
    </select>
    <select id="selectUserByMobileAndPass" parameterType="com.kangkang.api.vo.AppParamVo"
            resultType="com.kangkang.api.vo.TUsersExt">
        select uid,sn,imei,username,name,rongid,rytoken,registphone,rongid,headimageurl from t_users WHERE
        registphone=#{mobile} and password=#{password}
  </select>
    <select id="selectUserByWXOpenID" parameterType="com.kangkang.api.vo.WXReqParam"
            resultType="com.kangkang.api.vo.TUsersExt">
        select uid,sn,imei,username,name,rongid,rytoken,registphone,rongid,headimageurl from t_users WHERE
        registphone=#{mobile} and password=#{password}
    </select>

    <select id="getPatientUserByrongyunid" resultMap="BaseResultMap">
        select name,headimageurl from t_users where rongid=#{rongyunid}
    </select>
    <update id="resetPwd" parameterType="com.kangkang.api.vo.AppParamVo">
       update t_users set password=#{password} where registphone=#{mobile}
  </update>
    <update id="relevanceDevice" parameterType="com.kangkang.api.po.TUsers">
       update t_users set sn=#{sn},imei=#{imei} where uid=#{uid}
  </update>
    <select id="isBindedBySN" parameterType="com.kangkang.api.po.TUsers" resultMap="BaseResultMap">
       select uid from t_users where sn=#{sn}
  </select>
    <update id="unBindedDevice" parameterType="com.kangkang.api.po.TUsers">
        update  t_users set sn=null,imei=null where uid=#{uid}
  </update>
    <update id="unBindedDeviceBySN" parameterType="string">
        update  t_users set sn=null,imei=null where sn=#{sn}
    </update>
    <select id="isBindedByUid" parameterType="com.kangkang.api.po.TUsers" resultMap="BaseResultMap">
          select uid,sn,imei from t_users where uid=#{uid} and sn is not null
    </select>
    <select id="getUserByUserName" resultMap="BaseResultMap">
       select uid from t_users where username=#{username}
    </select>
    <select id="loginForWeb" parameterType="com.kangkang.api.vo.WebParamVo" resultMap="BaseResultMap">
       select uid,sn,imei,username,name,rongid,rytoken,registphone,rongid from t_users WHERE
        username=#{username} and password=#{password}
    </select>
    <select id="getPatientUserById" resultMap="BaseResultMap">
        select uid,name,sex,birthday,age,address,headimageurl,registphone,rongid from  t_users  where uid=#{uid}
    </select>
    <update id="updateUserPhone" parameterType="com.kangkang.api.vo.GetVerificationCodeParam">
         update t_users set registphone=#{mobile} where uid=#{uid}
    </update>
    <!--     -->
    <select id="selectAllForPatientListList" resultMap="BaseResultMap">
        select uid,sn,name,registphone,birthday,sex,age from t_users   order by uid desc
    </select>
    <select id="selectUidByPhone" resultType="int" parameterType="com.kangkang.api.vo.SavePatientParam">
        select uid from t_users where registphone=#{registphone}
        <if test="uid!=null">and uid!=#{uid}</if>
    </select>
    <select id="selectPatientForBind" resultType="com.kangkang.api.vo.SavePatientParam" parameterType="int">
        SELECT device.*,patient.uid,patient.name,patient.registphone,patient.sex,patient.birthday FROM hypertensionmanager.t_users patient left join
(
SELECT landlog.patientid,landlog.deviceid as shebeiUID,repertory.sn as shebeiSN,landlog.zjstart as zjstart,landlog.zjend as zjend,landlog.beizhu as beizhu,repertory.alias as shebeiName,landlog.returnstate
FROM hypertensionmanager.hytb_device_landlog landlog inner join  hypertensionmanager.hytb_device_repertory repertory on (landlog.deviceid=repertory.uid and landlog.returnstate=1)
) device on patient.uid=device.patientid
where patient.uid=#{patientid}
    </select>
    <select id="selectUidByOldPsd" parameterType="com.kangkang.api.bo.UpdatePasswordParam" resultType="int">
        select uid from t_users where uid=#{uid} and password=#{password}
    </select>
    <update id="updatePassByNewPass" parameterType="com.kangkang.api.bo.UpdatePasswordParam">
        update t_users set password=#{newpassword} where uid=#{uid}
    </update>

    <select id="patientList" resultMap="BaseResultMap">
       select uid,sn,imei,username,name,rongid,rytoken,registphone,rongid,headimageurl from t_users
    </select>
</mapper>